name: Update Pack

on:
  workflow_dispatch: {}
  push:
    branches: [ main ]
    
jobs:
  pack:
    name: Squash pack and notify server
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # A non-shallow repository clone is required
          
      - name: Run PackSquash
        uses: ComunidadAylas/PackSquash-action@v4
        with:
          packsquash_version: latest
          options: |
            pack_directory = '.'
          artifact_name: 'resourcepack'
          
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: resourcepack

      - name: Tag and create release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: action-v${{ github.run_number }}
          files: pack.zip

      - name: Notify server
        env:
          PTERODACTYL_TOKEN: ${{ secrets.PTERODACTYL_TOKEN }}
        run: |
          curl "https://panel.bundlegroup.gg/api/client/servers/a6f83607/command" -H 'Accept: application/json' -H 'Content-Type: application/json' -H "Authorization: Bearer ${PTERODACTYL_TOKEN}" -X POST -d '{"command": "frp generatehashes"}'
          sleep 10
          curl "https://panel.bundlegroup.gg/api/client/servers/a6f83607/command" -H 'Accept: application/json' -H 'Content-Type: application/json' -H "Authorization: Bearer ${PTERODACTYL_TOKEN}" -X POST -d '{"command": "frp reload resend"}'  
